{% extends 'oss_main/_base.html' %}

{% block title %}OSS: developers{% endblock title %}

{% block content %}
<div class="form-group has-success has-feedback">
    <form class="form-inline" role="form">
        <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail2">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
    </form>
</div>
<h1>Developers</h1>
<div class="form-group has-success has-feedback text-left">
    Search results
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Developer name</th>
            <th>Developer login</th>
            <th>Developer Github link</th>
            <th>Skills</th>
        </tr>
        </thead>
        <tbody>

        {% for dev in developers %}
        <tr>
            <td>{{ dev.id }}</td>
            <td>{{ dev.first_name  }} {{ dev.last_name  }}</td>
            <td>{{ dev.username }}</td>
            <td><a href="{{ dev.git_url }}">{{ dev.git_url }}</a></td>
            <td>{{ dev.skills }}</td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}