{% extends 'oss_main/_base.html' %}

{% block title %}OSS: projects{% endblock title %}

{% block content %}
<div class="form-group has-success has-feedback">
{#    <form class="form-inline" role="form">#}
{#        <div class="form-group">#}
{#            <input type="text" class="form-control" id="exampleInputEmail2">#}
{#        </div>#}
{#        <button type="submit" class="btn btn-default">Search</button>#}
{#    </form>#}
    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="View projects for my skills">
    </form>
</div>
<h1>Available projects</h1>
<div class="form-group has-success has-feedback text-left">
    Search results
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Project name</th>
            <th>Project URL</th>
            <th>Project Description</th>
            <th>Project Owner</th>
        </tr>
        </thead>
        <tbody>

        {% for project in projects %}
        <tr>
            <td>{{ project.project.id }}</td>
            <td><a href="{% url 'oss_main:project_page' project.project.id  %}">{{ project.project.name }}</a></td>
            <td><a href="{{ project.project.url }}">{{ project.project.url }}</a></td>
            <td>{{ project.project.description }}</td>
            <td><a href="{{ project.owner.git_url }}">{{ project.owner.username }}</a></td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}