{% extends 'oss_main/_base.html' %}

{% block title %}OSS: project page{% endblock title %}

{% block content %}

<h1>Project page</h1>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>{{ project.id }}</th>
        </tr>
        <tr>
            <th>Project name</th>
            <th>{{ project.name }}</th>
        </tr>
        <tr>
            <th>Project URL</th>
            <th><a href="{{ project.url }}">{{ project.url }}</a></th>
        </tr>
        <tr>
            <th>Project Description</th>
            <th>{{ project.description }}</th>
        </tr>
        <tr>
            <th>Project Owner</th>
            <th>
                {% for username, git_url in project.owners.items %}
                    <a href="{{ git_url }}">{{ username }}</a><br>
                {% endfor %}
            </th>
        </tr>
    </table>
    <h3>Issues</h3>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>URL</th>
            <th>Author</th>
            <th>Requirements</th>
        </thead>
        <tbody>

    {% for issue in issues %}
        <tr>
            <td>{{ issue.id }}</td>
            <td><a href="">{{ issue.name }}</a></td>
            <td><a href="{{ issue.url }}">{{ issue.url }}</a></td>
            <td>{{ issue.author.username }}</td>
            <td>
                {% for skill, level in issue.issueskill.items %}
                    {{ skill }}: {{ level }}<br>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>

    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Check my github repos">
    </form>

{% endblock content %}