{% extends 'oss_main/_base.html' %}

{% block title %}OSS: profile{% endblock title %}

{% block content %}

    <h1>Welcome to your profile, master {{ request.user }}!</h1>

    {% if projects %}
        <strong>Your current github projects:</strong>
        <ul>
        {%  for project in projects %}
            <li>
                <p><a href="{{ project.url }}" target="_blank">{{ project.name }}</a><br>
                {{ project.description }}</p>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    {%  if api_result %}
        <p><em>{{ api_result }}</em></p>
    {% endif %}

    {%  if saved_projects %}
        <strong>Newly founded repos:</strong>
        <ul>
        {%  for repo in saved_projects %}
            <li>
                <p><a href="{{ repo.html_url }}" target="_blank">{{ repo.name }}</a><br>
                {{ repo.description }}</p>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    <form action="{% url 'auth_app:user_profile' %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Check my github repos">
    </form>

{% endblock content %}